<div class="col s12 m7">
  <h2 class="header">About</h2>
  <div class="card horizontal">
    <div class="card-image">
      <img src="https://lorempixel.com/100/190/nature/6">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>This project is a first approach  Angular devlopment webapp. Earthquake information is based on USGS API.</p>
      </div>
      <div class="card-action">
        <a href="https://earthquake.usgs.gov/fdsnws/event/1/" target="_blank">Earthquake Information</a>
      </div>
      <a href="https://github.com/afgarciam/earthquake-ag" target="_blank">Github</a>
    </div>
  </div>
</div>
