<div class="preloader-wrapper big active" *ngIf="!loading">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
<ul class="collection" *ngIf="!loading">
  <a class="link-detail" [routerLink]="['/detail',quake.id]" routerLinkActive="active" *ngFor="let quake of quakes">
      <li class="collection-item avatar" >
          <i class="circle">{{quake.magnitude}}</i>
          <span class="title"><strong>{{quake.title}}</strong></span>
          <p>
              {{quake.place}}
              <br>
             {{quake.time}}
          </p>
        </li>
  </a>
</ul>
